body {
  background-color: #FFF;
  color: #333;
  padding-top: 5rem;
}

p.margin-5 {
  margin: 5rem;
}

a.scroll-arrow {
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 52px;
  margin-left: -25px;
  color: #d30000;
}

.select-menu {
    padding: 8px;
    margin-right: 5px;
    background: transparent;
    color: #aaa;
    border: none;
    text-align: right;
}

.btn-outline-success {
    color: #B40404;
    background-color: transparent;
    background-image: none;
    border-color: #B40404;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #B40404;
    border-color: #B40404;
}
